<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyHttpServlet</display-name>
  <welcome-file-list>
    <welcome-file>Student.jsp</welcome-file>   
  </welcome-file-list>
  
  <servlet>
  	<description>This is myhttpservlet for example</description>
  	<display-name>OnlineTraining</display-name>
  	<servlet-name>OnlineTraining</servlet-name>
  	<servlet-class>com.simplilearn.servlet.StudenServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>OnlineTraining</servlet-name>
  	<url-pattern>/simplilearn</url-pattern>
  </servlet-mapping>
  
  
</web-app>